<br/>
<div class="container">
  <div class="row">
    <div class="col-10">
      <!-- Opdracht 3: Map voor ISS -->
      <!-- De zoomfactor staat op 3, je kan deze aanpassen als je wil, je kan ook met de muis in en uitzoomen op de kaart -->
      <agm-map [latitude]="convertStringToNumber(StartLat)" [longitude]="convertStringToNumber(StartLong)" [zoom]=3 style="height: 500px">
        <!-- Deze marker moet de huidige locatie van het ISS weergeven via de lat/long coordinaten -->
        <!-- De title property is enkel zichtbaar als je met de muis over de marker gaat ! -->
        <agm-marker [latitude]="convertStringToNumber(Lat)" [longitude]="convertStringToNumber(Long)" [iconUrl]="'/assets/space.png'" title="">
        </agm-marker>
        <!-- Opdracht 4: voeg hier de history marker(s) toe -->
      </agm-map>
    </div>
  </div>
</div>