<div class="container" *ngIf="ServiceOutput">
    <div class="row" >
        <div class="col-4" >
            <div class="card" >
              <!--Card content-->
              <div class="card-body" >
                <!--Title-->
                <h4 class="card-title">{{ServiceOutput.name}}</h4>
                <!--Text-->
                <p class="card-text" > Pokédexnummer: {{ServiceOutput.id}} </p>
              </div>
                  
            </div>
        </div>
    </div>

        <div class="row" >
            <div class="col-4" >
                <div class="card" >
                    <!--Card content-->
                    <div class="card-body" >
                      <!--Title-->
                      <h4 class="card-title">Stats</h4>
                      <!--Text-->
                      <p class="card-text" *ngFor="let stat of ServiceOutput.stats"> {{stat.stat.name}}: {{stat.base_stat}}  </p>
                    </div>
                        
                  </div>
            </div>

            <div class="col-4" >
                <div class="card" >
                    <!--Card content-->
                    <div class="card-body" >
                      <!--Title-->
                      <h4 class="card-title">Appearance</h4>
                      <!--Text-->
                      <p class="card-text" > height: {{ServiceOutput.height/10.0}}m  </p>
                      <p class="card-text" > height: {{ServiceOutput.height/10.0}}m  </p>
                      <p class="card-text" > species: {{ServiceOutput.species.name}}  </p>
                    </div>
                        
                  </div>
            </div>

            <div class="col-4" >
                <div class="card" >
                    <!--Card content-->
                    <div class="card-body" >
                      <!--Title-->
                      <h4 class="card-title">Type</h4>
                      <!--Text-->
                      <p class="card-text" *ngFor="let type of ServiceOutput.types" (click)="Type($event, type.type.url)"> {{type.type.name}}  </p>
                    </div>
                        
                  </div>
            </div>
  
    </div>
  </div>