<div class="container" *ngIf="ServiceOutput">
    <div class="row" >
        <div class="col-4" >
            <div class="card" >
              <!--Card content-->
              <div class="card-body" >
                <!--Title-->
                <h4 class="card-title">{{ServiceOutput.name}}</h4>
              </div>
                  
            </div>
        </div>
    </div>

    <br>

    <div class="row" >
            <div class="col-4" >
              <div class="card" >
                  <!--Card content-->
                  <div class="card-body" >
                    <!--Title-->
                    <h4 class="card-title">No damage to</h4>
                    <!--Text-->
                    <p class="card-text" *ngFor="let type of ServiceOutput.damage_relations.no_damage_to" (click)="Type($event, type.url)"> {{type.name}}  </p>
                  </div>
                      
                </div>
            </div>

            <div class="col-4" >
                <div class="card" >
                    <!--Card content-->
                    <div class="card-body" >
                      <!--Title-->
                      <h4 class="card-title">Double damage to</h4>
                      <!--Text-->
                      <p class="card-text" *ngFor="let type of ServiceOutput.damage_relations.double_damage_to" (click)="Type($event, type.url)"> {{type.name}}  </p>
                    </div>
                        
                  </div>
            </div>

            <div class="col-4" >
                <div class="card" >
                    <!--Card content-->
                    <div class="card-body" >
                      <!--Title-->
                      <h4 class="card-title">Half damage to</h4>
                      <!--Text-->
                      <p class="card-text" *ngFor="let type of ServiceOutput.damage_relations.half_damage_to" (click)="Type($event, type.url)"> {{type.name}}  </p>
                    </div>
                        
                  </div>
            </div>
  
    </div>

    <br>

    <div class="row" >
        <div class="col-4" >
          <div class="card" >
              <!--Card content-->
              <div class="card-body" >
                <!--Title-->
                <h4 class="card-title">No damage from</h4>
                <!--Text-->
                <p class="card-text" *ngFor="let type of ServiceOutput.damage_relations.no_damage_from" (click)="Type($event, type.url)"> {{type.name}}  </p>
              </div>
                  
            </div>
        </div>

        <div class="col-4" >
            <div class="card" >
                <!--Card content-->
                <div class="card-body" >
                  <!--Title-->
                  <h4 class="card-title">Double damage from</h4>
                  <!--Text-->
                  <p class="card-text" *ngFor="let type of ServiceOutput.damage_relations.double_damage_from" (click)="Type($event, type.url)"> {{type.name}}  </p>
                </div>
                    
              </div>
        </div>

        <div class="col-4" >
            <div class="card" >
                <!--Card content-->
                <div class="card-body" >
                  <!--Title-->
                  <h4 class="card-title">Half damage from</h4>
                  <!--Text-->
                  <p class="card-text" *ngFor="let type of ServiceOutput.damage_relations.half_damage_from" (click)="Type($event, type.url)"> {{type.name}}  </p>
                </div>
                    
              </div>
        </div>

    </div>

  </div>