<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  
<!-- Navbar brand -->
<logo><a class="navbar-brand" href="#">Web frameworks</a></logo>

<!-- Collapsible content -->
<links>

<!-- Links -->
<ul class="navbar-nav mr-auto">
   <li class="nav-item" [routerLinkActive]="['active']">
       <a [routerLink]="['/home']" class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
   </li>
   <li class="nav-item" [routerLinkActive]="['active']">
       <a [routerLink]="['/space']" class="nav-link waves-light" mdbRippleRadius>Space</a>
   </li>
   <!-- <li class="nav-item" [routerLinkActive]="['active']">
       <a [routerLink]="['/musea']" class="nav-link waves-light" mdbRippleRadius>Musea op kaart</a>
   </li>
   <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/museaLijst']" class="nav-link waves-light" mdbRippleRadius>Musea in lijst</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
            <a [routerLink]="['/toiletten']" class="nav-link waves-light" mdbRippleRadius>Openbare toiletten op kaart</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
            <a [routerLink]="['/toilettenList']" class="nav-link waves-light" mdbRippleRadius>Openbare toiletten in lijst</a>
    </li> -->

</ul>
<!-- Links -->

</links>
<!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->