<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  
<!-- Navbar brand -->
<logo><a class="navbar-brand" href="#">Web frameworks</a></logo>

<!-- Collapsible content -->
<links>

<!-- Links -->
<ul class="navbar-nav mr-auto">
   <li class="nav-item" [routerLinkActive]="['active']">
       <a [routerLink]="['/home']" class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
   </li>
   <li class="nav-item" [routerLinkActive]="['active']" >
       <a [routerLink]="['/pokemon',1]" class="nav-link waves-light" mdbRippleRadius>Pokemon</a>
   </li>
   <li class="nav-item" [routerLinkActive]="['active']">
       <a [routerLink]="['/type',1]" class="nav-link waves-light" mdbRippleRadius>Type</a>
   </li>
   <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/songs']" class="nav-link waves-light" mdbRippleRadius>Songs</a>
    </li>
</ul>
<!-- Links -->

</links>
<!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->