<div class="container">
  <div class="row" *ngIf="ServiceOutput">
    <div class="col-12"> 
      <button type="button" [ngClass]="{'btn' : true, 'btn-primary': ServiceOutput.previous, 'btn-disabled': !ServiceOutput.previous }" (click)="Previous($event)">Previous</button>  
      <button type="button" [ngClass]="{'btn' : true, 'btn-primary': ServiceOutput.next, 'btn-disabled': !ServiceOutput.next }" (click)="Next($event)">Next</button>
    </div>
  </div>
  <div class="row" *ngIf="ServiceOutput">
      <div class="col-4" *ngFor="let pokemon of ServiceOutput.results; let i = index" >
          <div class="card" >
            <!--Card content-->
            <div class="card-body" >
              <!--Title-->
              <h4 class="card-title">{{Pokemons[i]?.name == pokemon.name ? Pokemons[i].name : placeholder}}</h4>
              <!--Text-->
              <p class="card-text" *ngIf="Pokemons[i]?.name == pokemon.name" > Pokédexnummer: {{Pokemons[i].id}} </p>
            </div>
                
          </div>
      </div>

  </div>
</div>